 .u-section-1 {
  background-image: none;
  min-height: 1184px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 268px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 268px;
  margin: -268px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 235px;
  height: 134px;
  margin: -220px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1137px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 221px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -221px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1085px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 169px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -169px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1029px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 127px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 254px;
    margin-top: -127px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -206px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 888px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 80px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 160px;
    margin-top: -80px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -112px;
  }
}